<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EventView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EventView.Properties.Settings>
            <setting name="ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>240,240,240</value>
            </setting>
        </EventView.Properties.Settings>
    </applicationSettings>
</configuration>